:root {
    /*Colors*/
    --red:#ff1e00;
    --black: #1b1c21;
    --white: #fff;
    --gray: #f5f5f5;
    --font-black:#212529;
    
    /*Color Style Guide*/
    --primary-color: var(--red);
    --secondary-color: var(--white);
    --accent-color: var(--gray);
    --button-1: var(--orange);
    --button-2: var(--green);

    /* Font size */
    --general-font-size: 1.4rem;
    --central-font-size: 1.6rem;

    /* *Font-family* */
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    /* *Margin, Padding Guide */
    --general-margin: 5rem;
    --general-margin-top: 3rem;
    --general-margin-bottom: 1.5rem;
    --general-padding: 3% 10%;
    --general-padding-top: 3rem;
    --general-padding-bottom: 3rem;

  
}

html {
    font-size: 62.5%;
}
body{
    width: 100%;
    font-family: var(--font-family-sans-serif);
    color: var(--font-black);
}

/* Common style */

.pc--display{
    display: inherit;
}

.sp--display{
    display: none;
}

.media--position--center__block{
    display:block;
    margin-left:auto;
    margin-right:auto; 
}

/* *Header* */

.header--pc{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-color);
    font-size: var(--central-font-size);
    font-weight: 300;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    z-index: 2;
}

.header--pc__wrapper{
    display: flex;
}

.header--pc__image{
    width: 17.5rem;
    height: auto;
}

.header--pc--list{
    display: flex;
    margin-top: 2.4rem;
}

.header--pc--list li{
    margin: 0 2rem;
}

.header--pc__button{
    margin-top: 2.4rem;
    margin-right: 2rem;
    text-decoration: underline;
}

.header--pc__button:hover{
    color: var(--primary-color);
    font-weight: bold;
}

/* *Video Section* */

.index--video{
    width: 100%;
    height: 30vw;
    overflow: hidden;
    padding-top: 3.5rem;
    position: relative;
}

.index--video video{
    width: 100vw;
    z-index: 1;
}

.index--video--image__main{
    width: 43rem;
    height: auto;
    position: absolute;
    top: 34%;
    left: 35%;
}

.index--video--audio{
    display: flex;
    position: absolute;
    top: 92%;
    left: 87%;
}

.index--video--audio__text{
    color: var(--secondary-color);
    font-size: var(--general-font-size);
    font-weight: bold;
    margin-right: 1rem;
}

.index--video--audio__icon{
    height: auto;
    line-height: 5rem;
    margin-top: 0.7rem;
}

/* *Counter section* */

.index--counter{
    display: flex;
    justify-content: center;
    padding-top: var(--general-padding-top);
}

.index--counter--item{
    display: flex;
    margin: 2rem;
}

.index--counter--item__icon{
    font-size: 2.7rem;
    margin-top: 0.3rem;
}

.index--counter--item__title{
    font-size: var(--central-font-size);
    font-weight: bold;
    margin-left: 1rem;
    line-height: 3.6rem;
}

.index--counter--item__number{
    font-size: 3rem;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 0.5rem;
}

/* Search bar Section(index--mainSearch) */

.index--search{
    padding-top: var(--general-padding-top);
    padding-bottom: var(--general-padding-bottom);
}

.index--search--main{
    display: flex;
    justify-content: center;
}

.search-form-010 {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.search-form-010 label {
    width: 250px;
}

.search-form-010 input {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #999999;
    box-sizing: border-box;
    color: #000;
    font-size: var(--general-font-size);
    outline: none;
}

.search-form-010 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 140px;
    height: 4.4rem;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: var(--general-font-size);
    font-weight: bold;
    cursor: pointer;
}

.search-form-010 button::before {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/* New Job */

.index--search--newJob{
    text-align: center;
    padding-top: 8rem;
}

.index--search--newJob__title{
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.index--search--newJob__wrapper{
    display: flex;
    justify-content: center;
    margin-top: var(--general-margin-top);
    padding-bottom: var(--general-padding-bottom);
}

.index--search--newJob--item{
    display: flex;
    width: 30rem;
    text-align: left;
    margin: 1rem;
}

.index--search--newJob--item--list{
    margin-left: 1rem;
}

.index--search--newJob--item__image{
    width: 12rem;
    height: 8rem;
}

.index--search--newJob--item--list__title{
    font-size: var(--general-font-size);
    font-weight: bold;
}

.index--search--newJob--item--list__text{
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.index--search--newJob--item--list__link{
    text-decoration: underline;
    color: #ff1e00;
    padding-top: 1rem;
    font-size: 1.4rem;
}

.index--search--newJob__button{
    font-size: var(--central-font-size);
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
}

/* *about us section* */

.index--aboutUs{
    background-color: var(--accent-color);
    text-align: center;
    padding-top: var(--general-padding-top);
    padding-bottom: var(--general-padding-bottom);
}

.index--aboutUs__title{
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    padding-bottom: 2rem;
}

.index--aboutUs p{
    font-size: var(--central-font-size);
    line-height: 3rem;
}

/* Icons section (index--icon) */

.index--icons{
    width: 100%;
    padding-top: var(--general-padding-top);
    padding-bottom: var(--general-padding-bottom);
}

.index--icons__image{
    width: 60%;
    display:block;
    margin-left:auto;
    margin-right:auto; 
}

/* Vorteile Section */

.index--vorteile__wrapper{
    margin: var(--general-margin);
}

.index--vorteile__title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.index--vorteile--list{
    margin-top: 1.6rem;
}

.index--vorteile--list li {
    font-size: var(--general-font-size);
    line-height: 3rem;
    position: relative;
    padding-left: 1.5em;
}

.index--vorteile--list li::before {
  position: relative;
  left: -1rem;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  content: '';
  border-radius: 100%;
  background: var(--primary-color);
}

/* So gehts section */

.index--soGehts__image{
    width: 100%;
    height: auto;
}

.index--vorteile{
    display: flex;
    justify-content: center;
}

/* *Customer Section* */

.index--customers{
    padding-top: var(--general-padding-top);
}

.index--customers__title{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
}

.index--customers__number{
    font-weight: bold;
    color: var(--primary-color);
}

.index--customers__image{
    width: 80%;
    margin-top: var(--general-margin-top);
}

/* *Reviwers section* */

.index--reviews{
    display: flex;
    justify-content: center;
    font-size: var(--central-font-size);
    line-height: 2.4rem;
}

.index--reviews--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.index--reviews--item__image{
    width: 25rem;
    height: auto;
}

.index--reviews--item__text{
    margin-top: 1rem;
}

.index--reviews--item__name{
    font-weight: bold;
}

/* *Register Section* */

.index--register{
    width: 100%;
    position: relative;
}

.index--register__image{
    width: 100%;
}

.index--register__inner{
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
}

.index--register__title{
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 5rem;
}

.index--register__text{
    color: var(--secondary-color);
    font-size: 2.4rem;
    font-weight: bold;
}

.index--register button{
    padding: 1rem 5rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.index--register button:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* *Footer* */

.footer__container{
    background: var(--black);
    color: #a5a5a8;
    font-size: var(--general-font-size);
    line-height: 2.4rem;
    font-weight: bold;
    padding: 3rem;
}

.footer__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__wrapper ul{
    margin: 0 2rem;
}

.footer--left{
    display: flex;
}

.footer--left__image{
    width: 12rem;
    height: fit-content;
}

.footer--right{
    display: flex;
}

.footer--right--social img{
    width: 4rem;
    height: auto;
}

.footer--right__logo{
    width: 8rem;
    height: auto;
}

.footer--bottom--others{
    display: flex;
    justify-content: flex-end;
}

.footer--bottom--others li{
    margin: 0 1rem;
}

.footer--bottom{
    position: relative;
}

.footer--bottom ul{
    position: absolute;
    bottom: 0;
    right: 10%;
}

@media screen and (max-width:768px) {

    .pc--display{
        display: none;
    }

    .sp--display{
        display: inherit;
    }

    /* Video section */

    .index--video video{
        height: auto;
    }

    /* Counter section */

    .index--counter--item{
        flex-direction: column;
        align-items: center;
    }

    /* Video section */

    .index--video{
        height: 80vw;
        padding-top: 1.2rem;
    }

    .index--video--image__main{
        width: 80vw;
        top: 27%;
        left: 10%;
    }

    .index--video--audio{
        display: none;
    }

    /* Counter section */

    .index--counter{
        padding-top: 0;
    }

    .index--counter--item__icon{
        font-size: 5vw;
        margin-bottom: 3vw;
    }

    .index--counter--item__number{
        font-size: 4.2vw;
        margin-left: 0;
    }

    .index--counter--item__title{
        font-size: 3vw;
        line-height: 5vw;
        margin-left: 0;
    }

    /* Search section */

    .index--mainSearch{
        display: block;
    }

    .search-form-010{
        flex-direction: column;
        align-items: center;
    }

    .search-form-010 button{
        width: 90vw;
        margin-top: 5vw;
    }

    .index--search--newJob__wrapper{
        flex-direction: column;
        align-items: center;
    }

    .search-form-010 label{
        width: 85vw;
        margin: 3vw;
    }

    /* Vorteile section */

    .index--vorteile{
        display: block;
    }

    .index--vorteile--list{
        margin-bottom: 7vw;
    }

    /* About us section */

    .index--aboutUs__title{
        font-size: 6vw;
    }

    .index--aboutUs p{
        margin: 2.5vw;
    }

    /* Icon section */

    .index--icons__image{
        width: 90vw;
    }

    .index--vorteile__wrapper{
        margin: 2.5vw;
    }

    /* Customers section */

    .index--customers__title{
        font-size: 6vw;
    }

    .index--customers__image{
        width: 95vw;
    }

    /* Reviewer section */

    .index--reviews{
        flex-direction: column;
        align-items: center;
    }

    .index--reviews--item__text{
        text-align: center;
    }

    /* Account Register section */

    .index--register__title{
        font-size: 4vw;
        color: var(--secondary-color);
        line-height: 6vw;
        padding-bottom: 3vw;
    }

    .index--register__text{
        font-size: 3.2vw;
        font-weight: 400;
    }

    .index--register__inner{
        text-align: inherit;
        width: 50vw;
        top: 40%;
        left: 7%;
    }

    /* Footer section */

    .footer__wrapper{
        flex-direction: column;
    }

    .footer__wrapper ul{
        margin: 4vw 0;
    }

    .footer--left{
        display: block;
    }

}

/* Drawer menu */

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
    height: 3px!important;
}

.drawer-container{
    height: 14vw;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/* .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
    top: -8px!important;
} */